
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary :  #009483;
 /*primary ->  #4fbf4f */
    --color-primary-dull: #006156;
    /* dull ->#44ae44  */
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}